* {
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    @include Reset();
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    background-color: black;
}

header {
    width: 100%;
    background-color: green;
    padding: 10px 20px;
    position: fixed;
    top: 0;
    z-index: 999;
}

main {
    color: white;
    background-color: black;
    margin: 0;
    padding: 0;
    text-align: center;
}

.navbar {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.logo {
    width: 100px;
    height: 60px;
}

.logo2 {
    height: 100px;
    -webkit-animation:pulse infinite linear .9s alternate;
}

@-webkit-keyframes pulse {
    0%{transform:scale(1)}100%{transform:scale(1.05)}
}

video {
    height: 500px;
    width: 250px;
}

.barras {
    width: 30px;
    height: 30px;
    background-color: transparent;
    border-radius: 5px;
    border: 0;
    position: relative;
    cursor: pointer;
    display: none;
}

.barras:after {
    content: "";
    position: absolute;
    top: 35%;
    left: 15%;
    width: 70%;
    height: 5%;
    border-radius: 5px;
    background-color: black;
}

.barras:before {
    content: "";
    position: absolute;
    top: 55%;
    left: 15%;
    width: 70%;
    height: 5%;
    border-radius: 5px;
    background-color: black;
}

.menu {
    list-style: none;
    display: flex;
    align-items: center;
}

li {
    margin-left: 10px;
}

.link1 {
    display: block;
    padding: 10px 15px;
    text-decoration: none;
    color: black;
    transition: 0.5s ease;
}

.link1:hover {
    color:black
}

@media screen and (max-width: 980px) {
    .barras {
        display: block;
        z-index: 999;

    }

    .menu {
        position: fixed;
        top: 0;
        right: 0%;
        height: 100vh;
        margin: 0;
        background-color: green;
        width: 100%;
        max-width: 150px;
        padding: 150px 20px;
        flex-direction: column;
        transition: 0.5s ease;
    }

    .menu.active {
        right: -100%;
    }
}

p {
    padding: 50px;
    text-align: justify;
}